<div class='post'>
	<div class='titleTxt'>
		<%= @post.title %>
	</div>
	<div class='dateTxt'>
		<%= @post.date %>
	</div>
	<div class='bodyTxt'>
		<%= raw @post.body %>
	</div>
</div>


<% if current_user!= nil && current_user.username == 'sierramclawhorn' %>
	<%= link_to 'Edit', edit_post_path %> 
  	|
	<%= link_to 'Delete', post_path, method: :delete, data: { confirm: "DON'T DO IT!! STAHP! WHATAREYOUDOING!?" } %>
<% end %>