<!DOCTYPE html>
<html>
  <head>
    <title>the potato body project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="google-site-verification" content="mmVm6qxHdO1FVyjNr5iJuWtrjHCqmaR5C1bpWszbQFE" />
  </head>

  <body>
    <div class='scrollingBanner'>
      <a href='/'><%= image_tag 'coyotato.png', class: 'scrollingBanner' %></a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <span class='scrollinginsta'><center>more on instagram <a href="http://www.instagram.com/potatobodies">@potatobodies</a></center></span>
    </div>

  	<div class='banner'>
  		<a href='/'><%= image_tag 'coyotato.png', class: 'bannerImg' %></a>	

      <div class='header'>
          <a href='/'><%= image_tag 'headerTitle2.png', class: 'headerTitleImg' %></a><br> 
      </div>	

  	</div>
    
    <%= yield %>
  </body>
</html>
