<!DOCTYPE html>
<html>
  <head>
    <title>the potato body project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class='banner'>
  		<a href='/'><%= image_tag 'coyotato.png', class: 'bannerImg' %></a>	

      <div class='header'>
        <%= image_tag 'headerTitle2.png', class: 'headerTitleImg' %>
      </div>	
  	</div>
    <%= yield %>
  </body>
</html>
