<!DOCTYPE html>
<html>
  <head>
    <title>the potato body project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- for fb likes/share btn -->
    <div id="fb-root"></div>

    <div class='scrollingBanner'>
      <a href='/'><%= image_tag 'coyotato.png', class: 'scrollingBanner' %></a> 
    </div>

  	<div class='banner'>
  		<a href='/'><%= image_tag 'coyotato.png', class: 'bannerImg' %></a>	

      <div class='header'>
        <a href='/'><%= image_tag 'headerTitle2.png', class: 'headerTitleImg' %></a>  
      </div>	
  	</div>
    
    <%= yield %>
  </body>
</html>
